.c-red {
    color: $monster-red;
}

.c-blue {
    color: $monster-blue;
}

.c-green-m {
    color: $monster-green-medium;
}

.c-green-d {
    color: $monster-green-dark;
}

.c-yellow {
    color: $monster-yellow;
}